
apiVersion: apps/v1
kind: Deployment
metadata:
    name: frontend-deployment
    namespace: note-app
spec:
    replicas: 1
    selector: 
      matchLabels:
           app: frontend
    template:
      metadata:
         labels:
           app: frontend
      spec:
          containers:
               - name: frontend-cont
                 image: samarthfunde/frontend-note-app:v1
                 ports:
                  - containerPort: 80
                 env:
                  - name: NODE_ENV
                    value: production
             
