
apiVersion: v1
kind: PersistentVolumeClaim
metadata:
   name: mongodb-pvc
   namespace: note-app
spec:
   accessModes:
     - ReadWriteOnce
   resources:
     requests:
       storage: 5Gi #pvc request of 5gb storage
